//
// General styling for the page
//
body {
  width: 100%;
  font-size: ems($bodyfont-size);
  font-weight: normal;
  font-style: normal;
  color: $off-black;
  background-color: #e7e4ea;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d1cdd8' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    font-style: normal;
    color: $heading-color;
  }

  // Responsive Images
  img {
    max-width: 100%;
    height: auto;
  }

  a {
    transition: color 0.4s;
    color: $primary-accent;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      color: lighten($primary-accent, 20);
    }
  }

  blockquote {
    border: none;
    color: $bodycolor;
  }
}

// Main Content Wrap
.content-container {
  @include media_query($tablet-breakpoint) {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include media_query($mobile-breakpoint) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include media_query($small-mobile-breakpoint) {
    padding-left: 0;
    padding-right: 0;
  }
  margin: 0 auto;
  max-width: 960px;
  text-align: center;

  .divider {
    width: 100px;
    height: 14px;
    border-top: 1px solid #{$primary-accent};
    border-bottom: 1px solid #{$primary-accent};
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}
